<div class="container-fluid">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><u><span id="twCount"></span></u> Tweets zum BarCamp Erfurt:</a>
        <div class="nav-collapse collapse" style="height:0px;">
          <ul class="nav"></ul>
        </div>
      </div>
    </div>
  </div>
  <div>

  <div class="sponsorpanel">
    <h3>Sponsoren &amp; Unterstützer</h3>
    <a class="stufe1" href="http://www.scitotec.de/" target="_blank"><img src="http://www.barcamp-erfurt.de/sponsorlogos/scitotec.png" alt="scitotec"></a>
    <a class="stufe1" href="http://www.kids-interactive.de/" target="_blank"><img src="http://www.barcamp-erfurt.de/sponsorlogos/kidsinteractive.png" alt="KIDS Interactive"></a>
    <a class="stufe2" href="http://www.coffeecircle.com/" target="_blank"><img src="http://www.barcamp-erfurt.de/sponsorlogos/coffeecircle.png" alt="COFFEE CIRCLE"></a>
    <a class="stufe3" href="http://www.melmao.de/" target="_blank"><img src="http://www.barcamp-erfurt.de/sponsorlogos/melmao.png" alt="Melmao"></a>
    <a class="stufe3" href="http://www.offensichtlich.de/" target="_blank"><img src="http://www.barcamp-erfurt.de/sponsorlogos/offensichtlich.png" alt="Offensichtlich Augenoptiker"></a>
    <a class="stufe3" href="http://www.faustfood.de/" target="_blank"><img src="http://www.barcamp-erfurt.de/sponsorlogos/faustfood.png" alt="FAUST FOOD"></a>
    <a class="stufe3" href="http://kindermedienzentrum.de/" target="_blank"><img src="http://www.barcamp-erfurt.de/sponsorlogos/kindermedienzentrum.png" alt="STUDIOPARK KinderMedienZentrum"></a>
    <a class="stufe3" href="http://www.iosono.de/" target="_blank"><img src="http://www.barcamp-erfurt.de/sponsorlogos/iosono.png" alt="IOSONO"></a>
  </div>

  <ul class="tweet-list" id="dinding"></ul>
</div>