body {background-color: #EF7123;}

.tweet-list {
    overflow: hidden;
    list-style-type: none;
    margin-left: 10px;
    padding-left: 10px;
}
.tweet-list li {
    float: left;
    width: 200px;
    margin: 3px 7px 7px 3px;
    position: relative;
}
.tweet-list .tweet-content{
    background: white;
    padding: 10px;
    height: 130px;
    border: 2px solid #BF1E2D;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 5px #BF1E2D;
    -webkit-box-shadow: 0 0 5px #BF1E2D;
    box-shadow: 0 0 5px #BF1E2D;
}

.tweet-list .tweet-author{
    overflow: hidden;
    margin: 15px 10px 10px 0;
}

.tweet-list .tweet-author:before {
    content: "";
    border-color: #BF1E2D transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: 55px;
    left: 15px;
}

.tweet-list .tweet-author:after{
    content: "";
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: 58px;
    left: 15px;
}

.tweet-list .tweet-author img{
    float: left;
    margin-right: 10px;
}

.tweet-list .tweet-author a{
    font-weight: bold;
}

.sponsorpanel {
    background: url("http://www.barcamp-erfurt.de/images/sponsoren.png") no-repeat scroll center center white;
    border-radius: 12px 12px 12px 12px;
    height: 700px;
    margin-left: 0;
    padding: 10px;
    text-align: center;
    min-width: 270px;
}